@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --color-nutmeg: hsl(14, 45%, 36%);
    --color-Dark-Raspberry: hsl(332, 51%, 32%);
    --color-white: hsl(0, 0%, 100%);
    --color-Rose-White: hsl(330, 100%, 98%);
    --color-Eggshell: hsl(30, 54%, 90%);
    --color-LightGrey: hsl(30, 18%, 87%);
    --color-Wenge-Brown: hsl(30, 10%, 34%);
    --color-Dark-Charcoal: hsl(24, 5%, 18%);
    --font-family-Young-Serif: 'Young Serif', serif;
    --font-family-Outfit: "Outfit", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 1955px;
    display: flex;
    justify-content: center;
    background-color: var(--color-Eggshell);
    font-weight: 400;
    font-family: var(--font-family-Outfit);
}

#container {
    max-width: 736px;
    margin-top: 123px;
    height: fit-content;
    background-color: var(--color-white);
    padding: 40px;
    border-radius: 22px;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 13.5px;
}

h1 {
    font-family: var(--font-family-Young-Serif);
    margin: 32px 0 14px 0 ;
    font-size: 39px;
    font-weight: 400;
    color: var(--color-Dark-Charcoal);
}
p{
    font-family: var(--font-family-Outfit);
    font-weight: 400;
    color: var(--color-Wenge-Brown);
    margin-bottom: 34px;
}
.recipe-details {
    background-color: var(--color-Rose-White);
    padding: 28px 27px;
    border-radius: 15px;
    margin: 30px 0;

}
.recipe-details li {
    padding-left: 20px;
    margin: 11px 18px;
    color: var(--color-Wenge-Brown);
}
.recipe-details > li::marker {
    color: var(--color-Dark-Raspberry);
}

.recipe-details h3{
    color: var(--color-Wenge-Brown);
    font-family: var(--font-family-Outfit);
}

span {
    color: var(--color-Wenge-Brown);
    font-weight: 700;
    font-family: var(--font-family-Outfit);
}

#Preparation {
    color: var(--color-Dark-Raspberry);
    font-weight: 600;
    font-family: var(--font-family-Outfit);
    margin-bottom: 20px;
    font-size: 1.29rem;
}
h2{
    font-family: var(--font-family-Young-Serif);
    color: var(--color-nutmeg);
    font-size: 1.725rem;
    font-weight: 400;
    margin-bottom: 12px;
}
.recipe-details li::marker{
    color: var(--color-Dark-Raspberry);
}
hr {
    border: 0.5px solid var(--color-Wenge-Brown);
    opacity: 0.1;
    margin: 32px 0 35px 0;
}
.Ingredients-details li {
    margin: 16px 20px;
    font-family: var(--font-family-Outfit);
    color: var(--color-Wenge-Brown);
    padding-left: 19px;
}
.Ingredients-details > li::marker{
    color: var(--color-nutmeg);
}
.instructions-details li {
    margin: 10px 0 10px 20px;
    font-family: var(--font-family-Outfit);
    font-weight: 400;
    color: var(--color-Wenge-Brown);
    padding-left: 23px;
}
.instructions-details li::marker {
    color: var(--color-nutmeg);
    font-weight: 600;
    font-family: var(--font-family-Outfit);
}
table {
    border-collapse: collapse;
    border-spacing: 10px; 
    width: 100%;
    margin: 10px 0;
    color: var(--color-Wenge-Brown);
} 
tr {
    border-bottom: 1px solid var(--color-LightGrey);
}
tr:last-child{
    border: none;
}
.values {
    color: var(--color-nutmeg);
    font-weight: 700;
}
td {
    padding: 10px 20px;
}

@media (max-width: 560px) {
    #container {
        width: 100%;
        border-radius: 0;
        padding: 0px;
    }
    body {
        margin: auto;
    }
    img {
        border-radius: 0;
    }
    .recipe-details ,.Ingredients-details, .instructions-details, .Nutrition-details, h1 , p, hr {
        margin-right: 20px;
        margin-left: 20px;
    }
    .Nutrition-details p {
        margin-left: 0;
        margin-bottom: 20px;
    }
}